nav{
    height: 56px;
}
.navbar-fix-top{
    border: 1px solid;
    border-width: 0 0 1px;
    background-color: #fff;
    border-color: #f0f0f0;
    margin-bottom: 0px;
}

.signUp{
    font-size: 15px;
    float: right;
    border: 1px solid;
    border-radius: 20px;
    margin: 9px 5px 0 15px;
    color: black;
}

.signIn{
    font-size: 15px;
    float: right;
    border: 1px solid;
    border-radius: 20px;
    margin: 9px 5px 0 15px;
    color: black;
}

.userBoard{
    font-size: 15px;
    float: right;
    border: 1px solid;
    border-radius: 20px;
    margin: 9px 5px 0 15px;
    color: black;
}

.writeBlog{
    float: right;
    color: #969696;
    font-size: 15px;
    margin: 11px 60px 0 100px;
    border: 1px solid;
    border-radius: 20px; 
}

.home{
    color: black;
    margin: 10px 30px 0 60px;
    font-size: 15px;
}

.blogList{
    color: black;
    margin: 10px 5px 0 15px;
    font-size: 15px;
}

#icon{
    width: 50px;
    height: 50px;
}