<div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-23">
        <h2>Advanced Search</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="adv-form">
        <form>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9"> 
              <div class="row">
                <div class="col-sm-4">
                  <input class="text searchText" id="authorInput">
                  <label class="searchLabel" for="authorInput">Author</label>
                </div>
                <div class="col-sm-4">
                  <input class="text searchText" id="yearsInput">
                  <label class="searchLabel" for="yearsInput">Year(s)</label>
                </div>
                <div class="col-sm-4"></div>
              </div>             
            </div>          
          </div>
  
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-8">
                  <input class="text searchText" id="titleInput">
                  <label class="searchLabel" for="titleInput">Title</label>
                </div>
                <div class="col-sm-4"></div>
              </div> 
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-8">
                  <input class="text searchText" id="titleInput">
                  <label class="searchLabel" for="titleInput">Abstract or author-specified keywords</label>
                </div>
                <div class="col-sm-4"></div>
              </div> 
            </div>
          </div>
  
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9"> 
              <div class="row">
                <div class="col-sm-8">
                  <input class="text searchText" id="bodyInput">
                  <label class="searchLabel" for="bodyInput">Body</label>
                </div>
                <div class="col-sm-4"></div>
              </div>
            </div>   
          </div>

          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-2">
              <div class="checkbox">
                <label class="checkLabel"><input type="checkbox" value="">case 1</label>
              </div>
              <div class="checkbox">
                <label class="checkLabel"><input type="checkbox" value="">case 2</label>
              </div>
              <div class="checkbox">
                <label class="checkLabel"><input type="checkbox" value="">case 3</label>
              </div>
              <div class="checkbox">
                <label class="checkLabel"><input type="checkbox" value="">case 4</label>
              </div>
            </div>

            <div class="col-sm-2">
                <div class="checkbox">
                  <label class="checkLabel"><input type="checkbox" value="">case 1</label>
                </div>
                <div class="checkbox">
                  <label class="checkLabel"><input type="checkbox" value="">case 2</label>
                </div>
                <div class="checkbox">
                  <label class="checkLabel"><input type="checkbox" value="">case 3</label>
                </div>
                <div class="checkbox">
                  <label class="checkLabel"><input type="checkbox" value="">case 4</label>
                </div>
              </div>

              <div class="col-sm-2">
                  <div class="checkbox">
                    <label class="checkLabel"><input type="checkbox" value="">case 1</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkLabel"><input type="checkbox" value="">case 2</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkLabel"><input type="checkbox" value="">case 3</label>
                  </div>
                  <div class="checkbox">
                    <label class="checkLabel"><input type="checkbox" value="">case 4</label>
                  </div>
              </div>
              <div class="col-sm-3"></div>
          
            </div>

          





 

  
        </form>
      </div>
    </div>
  
  
  
    
  
  </div>