input{
    border: none !important;
    outline: none !important;
    border-bottom: 2px solid #dcdcdc !important;
    margin-bottom: 20px;
    width: 100%;
}
.advContainer{
    display: flex;
    justify-content: center;
}
h2{
    color: #505050;
    font-weight: 200;
}
.searchLabel{
    display: block;
    position: absolute;
    color: dimgray;
    top: 5px;
}
.searchText{
    top: 20px;
    position: relative;
    padding: 12px 0 4px 0;
}
.none-type-list{
    list-style-type: none;
}
.checkLabel{
    color: dimgray;
    font-size: 15px;
    padding: 12px -15px 4px 15px;
}